<div class="home-container">
  <div class="Menu-container">
    <div class="menu-section text-center">
      <h1 class="display-2 font-handwriting text-light mb-4">The Menu</h1>
    </div>
    <div class="container mt-3">
      <div class="row" *ngFor="let category of categoryTab">
        <div class="col-md-12">
          <h2>{{ category.nomcategorie }}</h2>
          <div class="row">
            <div class="col-md-4" *ngFor="let article of getArticlesByCategory(category.id)">
              <div class="card mb-4 sh">
                <img class="card-img-top" [src]="article.imageart" alt="Image" width="415" height="350" preview>
                <div class="card-body">
                  <h5 class="card-title">{{ article.nomarticle }}</h5>
                  <p class="card-text">{{ article.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text"><strong class="card-price">{{ article.prix }} $</strong></p>
                    <button class="order-button" (click)="order(article)">Order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
