<form [formGroup]="categoryForm" (ngSubmit)="submitForm()"style="background-color: rgba(0, 0, 0, 0.71);">
    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="categoryName" placeholder="Enter category name">
      <mat-error *ngIf="categoryForm.controls['categoryName'].hasError('required')">Category Name is required</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  