<form (ngSubmit)="updateArticle()" class="example-form">
    <table>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Article Name</mat-label>
            <input matInput placeholder="Pizza" [(ngModel)]="article.nomarticle">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="article.category.id">
                <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.nomcategorie }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="article.description"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Prix</mat-label>
            <input matInput placeholder="Price" type="number" [(ngModel)]="article.prix">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Image URL" [(ngModel)]="article.imageart">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="primary" type="submit">Update</button>
  </form>
  