.dialog-title {
    text-align: center;
  }
  
  .dialog-content {
    display: flex;
    justify-content: center;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
 
  mat-form-field {
    width: 300px; 
  }
  
 
  mat-form-field input {
    width: 300px;
  }
  