<form class="example-form" [formGroup]="articleForm" (ngSubmit)="submitForm()">
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Article Name</mat-label>
          <input matInput placeholder="Pizza" formControlName="articleName">

        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.nomcategorie }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Prix</mat-label>
          <input matInput placeholder="Price" type="number" formControlName="prix">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Image</mat-label>
          <input matInput placeholder="Image URL" formControlName="image">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
